body {
    background-image: url("/images/Bamboo_tea_2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    filter: brightness(80%);
}
